*{margin: 0;padding: 0;}
*, *:before, *:after {
    box-sizing: inherit;
}
:root {
    --logo:#FFDCB6;
    --menu: #434443;
    --green: #41644A;
    --yellow: #f7f6c4ea;
    /* --red: #ED2B2A; */
    --red: #f01e1efd;
    --black: #000000;
    --footer:#F6BA6F;
    --aside:#ECC9EE;
    --fondo:#edebf9;
    --blue: #1f53c5;
    --colorPrimario:grey;
    --amarillo:rgba(255, 255, 0, 0.89)
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* Reset para REMS - 62.5% = 10px de 16 px */
    width: 100%;
}

body {
    background-color:#f7f6da91;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    height: 100rem;
    display: grid;
    grid-template-areas:        
        'logo    menu'
        'banner  banner'
        'main   main'
        'footer  footer';
    grid-template-columns: 10% auto;    
    grid-template-rows: 10% auto auto 10%;
}


header {
    display: flex;
    justify-content: center;
    grid-area: logo;
}

header img{ 
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    background-color: #f7f6da91;    
}

nav {
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-evenly;
    align-items: center;
    padding-top:20px ;
    padding-left: 5%;
    padding-right: 10%;
    background-color: var(--menu);
    grid-area: menu;
    font-weight: bold;  
}

a{
    text-decoration: none;
    color: var(--fondo);
    font-size: 16px;
}

a:hover{
    color:var(--black)
}

a:visited{
    text-decoration: none;
}

.mapa{
    display: flex;
    margin-right: 15px;
}

.mapa a{
    display: flex;
    justify-content: center;
    width: 15px;
    height: 55px;
}

.mapa h3{
    color: var(--black);
    
}

.mapa h3:hover{
    color: var(--fondo);
}
   
main {
    
    grid-area: main;
    background: var(--yellow);
   
}

.contenedor {
    max-width: 120rem;
    margin: 5rem auto;
}

.productosClass {
    display: flex;
    justify-content: space-between; /** separar imagenes **/ 
    flex-wrap: wrap;
}
.card{
    background: #f5f5f5;
    border: 1px solid #b5b5b5;
    flex: 0 0 calc(33.3% - 2rem);
    margin-bottom: 2rem;
    border-radius: 0.5rem;
}
.card > img {
    width: 100%;
    height: 250px;
}

.cardbody {
    margin: 2rem;
}
.cardbody > h3{
    font-size: 14px;
}
 
.precio {
    /* color: var(--colorPrimario); */
    color: var(--black);
    font-weight: 700;
    font-size: 1.9rem;
}

.agregarBtn {
    width: 100%;
    /* color: var(--colorPrimario); */
    color: var(--black);
    /* background-color: #fbec45; */
    background-color: #b8b7b5cc;
    font-weight: 700; 
    font-size: 1.8rem;
    padding: 1.1rem 3rem;
    margin-top: 3rem;
    display: block; /*************/
    text-align: center;
    border: none;
    text-decoration: none;
    border-radius: 0.5rem;
}
.agregarBtn:hover {
    cursor: pointer;
    background-color: #fbec45; 
}

.cantidadCarritoClass {
    color: var(--amarillo);
    display: inline-block;
}

.vaciarCarrito {
    font-size: 17px;
    margin: 2rem auto;
    border: none;
    background-color: var(--red);
    opacity: .8;
    border-radius: 0.5rem;
    padding: 2rem 9.5rem;
    color: white;
    font-weight: bold;
    width: 50%;
}
.vaciarCarrito:hover {
    cursor: pointer;
    background-color: red;
}


/* Tabla */
caption {
    font-size: 2.4rem;
    font-weight: 700;
    margin:20px 0;
}

table { /* falta modificar los estilos */
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
    border-spacing: 0;
    font-size: 16px;
}
th {
    background-color:#b8b7b5cc;
    opacity: .8;
    /* background-color: #fbec45; */
    font-weight: bold;
    padding: 1.5rem;
}
td {    
    border-bottom: 1px solid #bfbbbb;
    height: 5rem;
}

tbody {
    text-align: center;
    overflow: auto;
}

.borrarProducto {
    padding: 1rem 1rem;
    background-color: #fff;
    border: none;
    border-radius: 50%; 
}
.borrarProducto:hover {
    cursor: pointer;
}


/* aside {
    
    grid-area: aside;
    background: rgba(0, 0, 0, 0.808);
}
.aside{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
} */
footer {
    grid-area: footer;
    margin-top: auto;
    /* background-color: #000000;     */
}
.art{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 10px;
}
.art>img{
    width: 20vh;
    width: 100%;
    height: 15vh;
}
section{
    display: flex;
    justify-content: center;
    width: auto;
    height: 150px;
    background-color: var(--yellow);
    background: rgba(20, 20, 20, 0.884);
} 
section>img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
section > img:hover{
    cursor: default;
    width: 150px;
    opacity: 1;
    filter: contrast(120%);
}
.banner{
    grid-area: banner;
    grid-template-columns:0% auto;
    grid-template-rows: auto;
}
.sectionP{
    display: flex;
    text-align:left;
    justify-content: left;
    /* color:rgba(255, 255, 0, 0.89); */
    color: whitesmoke;
    font-family: 'Rock Salt', cursive;
    font-size:small;
    
}
.content{
   background: var(--menu);
    width: 100%;
    height: 100px;
    display: grid;
    /* grid-template-columns: auto auto; */
    
    
} 
.dfoot{
    display:flex;
    place-content: center;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: auto;
    margin-bottom: auto;
}
.dfoot>a{
    font-size: 16px;
    
}
@media (max-width:768px) {
    .container{
        grid-template-areas:  
            'logo menu'
            'banner banner'
            'aside aside'
            'main main'
            'footer footer'
            ;
        grid-template-columns: 15% auto;    
        grid-template-rows: auto;
    }
   .container>main{
    margin-top: .05px;
   }
    .mapa{
        display: none;
        /* margin-right: 10px; */
    }
    .mapa a{
        display: none;
    }
    .dfoot a{
        font-size:2vh;
    }
    .dfoot{
        display: flex;
        flex-direction: row; 
        align-items: center;
        justify-content: space-evenly;
        

    }
    .mapa{
        display: none;
    }
    .sectionP{
        display: none;
    }   

}
@media (max-width:425px) {
    .container{
        height: auto;
        grid-template-areas:  
         ' logo logo'
         'menu menu'
         'banner banner'
         'main main'
         'footer footer'
         ;
         grid-template-columns:auto auto;
         grid-template-rows: auto ;
    }
    header img{ 
        display: flex;
        justify-content: center;
        height: 60.5px;
        width: 100%;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top:20px ;
        padding-left: 5%;
        padding-right: 10%;
        background-color: var(--menu);
        grid-area: menu;
        font-weight: bold; 
        font-size: 12;
    }
    nav > a{
        font-size: 12.5px;
    }
    /* .sectionP{
        text-align:center;
        color:rgba(255, 255, 0, 0.89); 
        color: var(--amarillo);
        font-family: 'Rock Salt', cursive;
        font-size:x-small;
        background: rgba(0, 0, 0, 0.884);
    }    */
    .content{
        /* background: rgba(255, 255, 0, 0.808); */
        background: var(--amarillo);
        width: 100%;
        height: 100px;
        display: grid;
        grid-template-columns: auto auto;        
    } 
    .mapa{
        display: flex;
        margin-right: 1px;
    }
    
    .mapa a{
        display:none;
    }
    .cardbody {
        margin: 1.5rem;
    }    
    /* .aside{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 1.5rem;

    } */

    .card{
        background: #f5f5f5;
        border: 1px solid #b5b5b5;
        flex: 0 0 calc(33.3% - 1rem);
        margin-bottom: 1rem;
        border-radius: 0.5rem;
    }
    .card > img {
        width: 100%;
        height: 150px;
    }
    
    .precio {
        color: var(--black);
        font-weight: 700;
        font-size: .9rem;
    }
    .content{
        background: var(--menu);
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        margin-top: auto;
     } 
    .dfoot{
        display: flex;
        place-content: center;
        justify-content: space-evenly;

    }
    .dfoot>a{
        font-size:1.8vh;
        
    }

}